L-IRC-V1/
__pycache__/
.idea/
.vscode/
.vs/
config.ini
osu_maps/
V1/L-IRC-V1/
V1/__pycache__/
V1/.idea/
V1/.vscode/
V1/.vs/
V1/config.ini
V1/osu_maps/
L-IRC-V2/
V2/L-IRC-V2/
V2/__pycache__/
V2/.idea/
V2/.vscode/
V2/.vs/
V2/config.yaml
V2/data/bot.db
