@media all and (min-width: 1200px) and (orientation: landscape) {
    body {
        display: flex;
        flex-direction: column;
        background-color: hsl(255, 10%, 10%);
        color: white;
        font-family: Ubuntu;
        align-items: center;
    }

    .main {
        top: 0;
        bottom: 0;
        background-color: hsl(255, 10%, 14%);
        display: flex;
        flex-direction: column;
        flex-shrink: 2;
        flex-wrap: wrap;
        align-items: center;
        margin: 0;
        width: 69%;
    }

    .title {
        color: white;
        padding: 10px 35px;
        margin-top: 20px;
        background-color: hsl(255, 10%, 10%);
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        margin-bottom: 20px;
    }

    .infobox {
        background-color: hsl(255, 18%, 10%);
        padding: 35px;
        border-radius: 42px;
        border: 2px solid #e3609a;
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-bottom: 30px;
    }

    .infobox hr {
        border: 1px solid hsl(255, 10%, 18%);
        width: 80%;
    }

    .info {
        color: #d7a178;
        margin-top: 20px;
    }

    .syntax {
        width: 95%;
    }

    .command {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .command h1 {
        color: #e3609a;
    }

    .command br {
        margin-top: 10px;
    }

    .command p {
        line-height: 30px;
    }

    .args {
        color: dimgray;
    }

    .dark {
        color: hsl(255, 10%, 26%);
        padding-left: 5px;
    }

    .example {
        padding-left: 20px;
        color: #b6497c;
    }
}

@media all and (max-width: 1200px), all and (orientation: portrait) {
    body {
        display: flex;
        flex-direction: column;
        background-color: hsl(255, 10%, 10%);
        color: white;
        font-family: Ubuntu;
        font-size: 20;
        align-items: center;
    }

    .main {
        top: 0;
        bottom: 0;
        background-color: hsl(255, 10%, 14%);
        display: flex;
        flex-direction: column;
        flex-shrink: 2;
        flex-wrap: wrap;
        align-items: center;
        margin: 0;
        width: 100%;
    }

    .title {
        color: white;
        padding: 10px 35px;
        margin-top: 20px;
        background-color: hsl(255, 10%, 10%);
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        margin-bottom: 20px;
    }

    .infobox {
        background-color: hsl(255, 18%, 10%);
        padding: 35px;
        border-radius: 42px;
        border: 2px solid #e3609a;
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-bottom: 30px;
    }

    .infobox hr {
        border: 1px solid hsl(255, 10%, 18%);
        width: 80%;
    }

    .info {
        color: #d7a178;
    }

    .syntax {
        width: 95%;
    }

    .command {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .command h1 {
        color: #e3609a;
    }

    .command br {
        margin-top: 10px;
    }

    .command p {
        line-height: 30px;
    }

    .args {
        color: dimgray;
    }

    .dark {
        color: hsl(255, 10%, 26%);
        padding-left: 5px;
    }

    .example {
        padding-left: 20px;
        color: #b6497c;
    }
}
