@media all and (orientation: landscape) {
    body {
        font-family: Ubuntu;
        display: flex;
        flex-direction: column;
        background-color: hsl(255, 10%, 10%);
        z-index: 5;
    }

    body:before {
        background-image: url(page-dark.png);
        background-size: 500px 500px;
        opacity: .25;
        position: fixed;
        backface-visibility: hidden;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        content: " ";
        z-index: -5;
    }

    .header {
        position: absolute;
        top: 0;
        height: 50px;
        width: 100%;
        margin: 0;
        right: 0;
        background-color: #e3609a;
        opacity: 1;
    }

    .main {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title {
        color: white;
        font-size: 48pt;
        padding: 55px;
        background-color: hsl(255, 10%, 10%);
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
    }

    .textbody {
        font-size: 36pt;
        color: white;
        margin-top: 30px;
        padding: 27px;
        background-color: hsl(255, 15%, 10%);
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        border: 2px solid #e3609a;
        width: 40%;
        margin-top: 5%;
        position: absolute;
        bottom: 20%;
    }

    .urls {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    a {
        padding-right: 8%;
        text-decoration: none;
        color: white;
    }

    a:hover {
        color: #ffb7da;
        transition: ease-in-out 0.1s;
        -webkit-transition: ease-in-out 0.1s;
        -moz-transition: ease-in-out 0.1s;
        -ms-transition: ease-in-out 0.1s;
        -o-transition: ease-in-out 0.1s;
    }

    .footer {
        position: absolute;
        bottom: 7px;
        text-align: center;
        width: 100%;
        right: 0;
        color: whitesmoke;
        opacity: .5;
    }
}
@media all and (orientation: portrait){
    body {
        font-family: Ubuntu;
        display: flex;
        flex-direction: column;
        background-color: hsl(255, 10%, 10%);
        z-index: 5;
    }

    body:before {
        background-image: url(page-dark.png);
        background-size: 500px 500px;
        opacity: .25;
        position: fixed;
        backface-visibility: hidden;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        content: " ";
        z-index: -5;
    }

    .header {
        position: absolute;
        top: 0;
        height: 50px;
        width: 100%;
        margin: 0;
        right: 0;
        background-color: #e3609a;
        opacity: 1;
    }

    .main {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title {
        position: absolute;
        bottom: 60%;
        color: white;
        font-size: 48pt;
        padding: 55px;
        background-color: hsl(255, 10%, 10%);
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
    }

    .textbody {
        font-size: 36pt;
        color: white;
        padding: 27px;
        background-color: hsl(255, 15%, 10%);
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        border: 2px solid #e3609a;
        width: 40%;
        margin-top: 5%;
        position: absolute;
        bottom: 30%;
    }

    .urls {
        display: flex;
        flex-direction: row;
        justify-content: cener;
    }

    a {
        padding-right: 8%;
        text-decoration: none;
        color: white;
    }

    a:hover {
        color: #ffb7da;
        transition: ease-in-out 0.1s;
        -webkit-transition: ease-in-out 0.1s;
        -moz-transition: ease-in-out 0.1s;
        -ms-transition: ease-in-out 0.1s;
        -o-transition: ease-in-out 0.1s;
    }

    .footer {
        position: absolute;
        bottom: 7px;
        text-align: center;
        width: 100%;
        right: 0;
        color: whitesmoke;
        opacity: .5;
    }
}
}
